@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Inter:wght@500&display=swap');
* {
  font-family: 'Fira Sans', sans-serif;
}

header {
  .header-list {
    li {
      padding-left: 25px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  .contact {
    span {
      font-size: 1.2rem;
    }
  }
}

// HOME RANKING

.ranking-shadow {
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(49, 79, 111, 0.25);
  border-radius: 0px 8px 0px 0px;
}

.slider-wrapper {
  position: relative;
  height: 4rem;
  border: 0.5px solid #888;
  background: white;
}

.ranking-wrapper {
  left: 56%;
}

.blur-background {
  background-image: url('../images/blur_bg\ 1.png');
}

.plenty-icon {
  background-image: url('../images/plentymarkets\ Logo\ Hintergrund.png');
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: bottom;
}

// HOME CONTENT TABS

#myTabContent {
  background: linear-gradient(180deg, #e8eef4 10.94%, rgba(232, 238, 244, 0) 100%);
}

.title-wrapper {
  background: linear-gradient(90deg, #314f6f 0.9%, rgba(49, 79, 111, 0.5) 50%);
}

.tab-custom-pos {
  bottom: -75px;
}

.tab-content-bg {
  padding-top: 84px;
  padding-right: 220px;
  padding-left: 230px;
}

.shadow-button {
  box-shadow: 0px 0px 6px 1px #887;
}
